<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <input type="file" value="Select To Upload" id="fileUpload" onchange="Upload()" /><br><br>
    <div id="data_radius"></div><br><br>
    <div id="data_mass"></div><br><br>
    <div id="data_orbital"></div><br><br>
</body>
<script src="fileUpload.js"></script>

</html>